* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.hide {
    display: none;
}

/* ---- button-group ---- */

.checkbox-group:after {
  content: '';
  display: block;
  clear: both;
}



/* ui group */

.ui-group {
  display: table-cell;
  vertical-align: top;
  padding-left:15px;
}
.vertical-border {border-right:1px solid #999;}

ul {
    margin-left: 0;
    padding-left: 0;
}

li {
    list-style-type: none;
}

.ui-group .checkbox-group {
  display: inline-block;
  margin-right: 20px;
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}

/**** Isotope styles ****/

/* required for containers to inherit vertical size from window */
html,
body {
  height: 100%;
}


/* My styles */
#container{width:910px;}
#filters {
    display:block;
    width:910px;
    color:#000;
    background-color:#dedede;
    border:1px #ccc solid;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    }

#categories a,
#categories a:visited{
    text-decoration:none;
    color:#464646;
    padding:4px 8px;
}
#categories a.selected{
    background-color:#B75700;
    color:#fff;
    cursor:default;
}
#categories a:hover {
    background-color:#929292;
    color:#fff;
}
#categories a.selected:hover {
    background-color:#B75700;
}

.item {
    width:280px;
    margin-right:20px;
    margin-bottom:20px;
    border:1px solid #ccc;
    border-top:8px solid #0F572E;
    padding:15px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    background-color:#fff;
    position: relative;
    overflow:auto;
}
.item p {font-size: .8em;margin-bottom:1em;font-family:Arial, Helvetica, sans-serif;}
.item h3 {margin-bottom:0;font-size: .9em;font-family:Arial, Helvetica, sans-serif;}
.item ul {margin:0px;}
.item ul li {font-size: .8em;margin:0 0 0 -15px;}
.item .phases img {
    vertical-align: middle;
}
.types {font-size: .8em;margin-bottom:1em;font-family:Arial, Helvetica, sans-serif;font-weight:bold;}

.italic {font-style:italic;}



.item img {
    margin-right:5px;
    vertical-align: text-top;
}
/* ----for the modal----*/
.phase-container {
  
  font-family:Verdana, Geneva, sans-serif;
  font-size: 11px;
  color: #333;
}
table.phase-container {
  width: 850px;
  border-collapse: collapse;
  }
.phase-container caption{
  font-family:Verdana, Geneva, sans-serif;
  color:#060;
  font-size: 22px;
  text-align:left;
  }
  
.phase-container th {vertical-align:bottom;text-align:left;}
.phase-container td {vertical-align:top;padding-right:10px;}

.phase-container h2{
  color:#333;
  font-size: 16px;
  text-align:center;
  margin-top:0;}

.phase-container h3{
  color:#060;
  font-size: 13px;
}
  
.question {
  font-family:Verdana, Geneva, sans-serif;
  color:#666;
  font-size: 13px;
  margin-bottom:0;}
.phase-container ul li {margin-bottom:10px;margin-left:-20px;}
